{% extends 'lynx/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    <br>
    <div class="container bg-white shadow-md pd-5 form-layout ">
        <br>

        <h3>Update username/email</h3>
        <form method="POST" action="" >
        
            {% csrf_token %}

            {{user_form.username|as_crispy_field}}
            <br>
            {{user_form.email|as_crispy_field}}
            <br>


            <button class="btn btn-primary" type="submit" class="btn btn-primary">Update</button>
            
        </form>
        <br>
    </div>
    <br>
    <div class="container bg-white shadow-md pd-5 form-layout">
        <br>
        <h3>Upload photo</h3>
        <form method="POST" action=""  enctype="multipart/form-data">
          
              {% csrf_token %}
  
              {{profile_form.profile_pic|as_crispy_field}}
              <br>
              <br>
  
  
              <button class="btn btn-primary" type="submit" class="btn btn-primary">Update</button>
              
        </form>
        <br>
      </div>
    <br>


    <div class="container bg-white shadow-md pd-5 form-layout">
    <br>
        <h3>Account deletion</h3>
        <a href="{% url 'delete-user' %}"  class="btn btn-primary"> Delete Account</a>
        <br>

    </div>
    <br>

</body>


{% endblock  %}