{% extends 'lynx/main.html' %}
{% load crispy_forms_tags %}

{% block content %}



  <body>
    <br>
    <div class="container bg-white shadow-md pd-5 form-layout">

      <h1> Register</h1>
      <br>
      <form method="POST" action="" >
        {% csrf_token %}
        {{form.username|as_crispy_field}}
        {{form.email|as_crispy_field}}
        {{form.password1|as_crispy_field}}
        {{form.password2|as_crispy_field}}

        <button class="btn btn-primary" type="submit" class="btn btn-primary">Register</button>
      </form>
      <br>
      <p> Already have an account?</p>
      <a class="btn btn-success" href="{% url 'my-login' %}">Login Page</a>
    <br>
    <br>

    </div>

  </body>


{% endblock  %}